<div class="jumbotron jumbotron-fluid bg-danger ">
  <div class="container">
    <h1 class="display-4 text-white">About</h1>
    <p class="lead text-white">This is a Node/Express For Jotting down ideas .</p>
    <p class="text-white">Version: 1.0.0</p>
  </div>
</div>