<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down ideas for your next Ideas.</p>
  <hr class="my-4">
  <p>.</p>
  <a class="btn btn-danger btn-lg" href="/ideas/add" role="button">Add Ideas</a>
</div>